.bodyHome{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}


.blocoTeste{
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    margin-top: 20vh;
}

.blocosemanais{
    width: 100%;
    height: auto;
    text-align: center;
}

.blocoProgresso{
    width: 100%;
    height: auto;
    padding: 0rem 2rem;

}