.bodyHome{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}


.blocoTeste{
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    margin-top: 20vh;
}

.blocoValorMensal{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem;
}

.subBlocoValorMensal{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #00BF63;
    border-radius: 0.1rem;
    margin-bottom: 2rem;
}

.subBlocoValorMensal p{
    font-size: 1.5rem;
    color: white;
    margin-top: 1rem;
}

.blocosemanais{
    width: 100%;
    height: auto;
    text-align: center;
}

.blocoProgresso{
    width: 100%;
    height: auto;
    padding: 0rem 4.2rem;

}