.bodyHome{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}


.blocoTeste{
    width: 100%;
    height: 100%;
    border-radius: 0.2rem;
    margin-top: 20vh;
}

.blocoValorMensal{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem;
}

.subBlocoValorMensal{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #00BF63;
    border-radius: 0.1rem;
    margin-bottom: 2rem;
}

.subBlocoValorMensal p{
    font-size: 1.5rem;
    color: white;
    margin-top: 1rem;
}

.blocosemanais{
    width: 100%;
    height: auto;
    text-align: center;
}

.blocoProgresso{
    width: 100%;
    height: auto;
    padding: 0rem 4.2rem;

}

.blocoUpdateLead{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem;
}

.subBlocoUpdate{
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #00BF63;
    border-radius: 0.1rem;
    margin-bottom: 1rem;
}

.subBlocoUpdate p{
    font-size: 1.5rem;
    color: white;
    margin-top: 1rem;
}

.localInputs{
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0rem 0rem 1rem;
}

#opcoesPagamentoConverterLead{
    width: 20%;
    height: 2.5rem;
    margin: 0rem 0.5rem;
    padding: 0.3rem;
    outline: none;
    border: 0;
    border-radius: 0.2rem;
}

#inputValorConverterLead{
    width: 20%;
    height: 2.5rem;
    margin: 0rem 0.5rem;
    padding: 0.3rem;
    outline: none;
    border: 0;
    border-radius: 0.2rem;
}


#inputIdLead{
    width: 20%;
    height: 2.5rem;
    margin: 0rem 0.5rem;
    padding: 0.3rem;
    outline: none;
    border: 0;
    border-radius: 0.2rem;
}

#btnAtualizarLead{
    width: 10%;
    height: 2.5rem;
    border: 0;
    border-radius: 0.2rem;
    color: white;
    background-color: black;
    transition: 0.3s ease-in-out;
}

#btnAtualizarLead:hover{
    color: white;
    background-color: #E8751A;
}

@media (min-width: 200px) and (max-width: 1024px) { 
    .localInputs{
        width: 100%;
        height: auto;
        display: flex;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        padding: 0rem 1rem 1rem;
    }

    #opcoesPagamentoConverterLead{
        width: 100%;
        margin: 0rem 0rem 0.4rem;
    }
    
    #inputValorConverterLead{
        width: 100%;
        margin: 0rem 0rem 0.4rem;
    }
    
    #inputIdLead{
        width: 100%;
        margin: 0rem 0rem 0.4rem;
    }

    #btnAtualizarLead{
        width: 100%;
    }
}