.bodyHistorico{
    width: 100%;
    height: 100%;
    display: flex;
    background-color: #132D46;
}

.divBory{
    width: 100%;
    height: auto;
    background-color: #132D46;
    color: white;
}

.bodyCentral{
    width: 100%;
    height: auto;
    margin-top: 15vh;
    background-color: #132D46;
}

.divBarraProgress{
    width: 100%;
    height: auto;
    padding: 0rem 4rem;
    background-color: #132D46;
}

@media (min-width: 600px) and (max-width: 1024px) { 
    
}