/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: auto;
    background-color: #00BF63;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    box-shadow: 0 -0.2rem 0.5rem rgba(0, 0, 0, 0.1); 
    backdrop-filter: blur(0.5rem);
}
.links {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem;
}
#linkMenu{
    font-size: 2rem;
    list-style-type: none;
    text-decoration: none;
    color: white;
    padding:0rem 0.4rem;
    margin: 0rem 0.4rem;
    font-weight: bold;
}

#linkMenu:hover{
    border-radius: 0.2rem;
    background-color: #158a51;
}

.linkHome,
.linkAgenda,
.linkHistorico {
  text-decoration: none;
  transition: 0.3s ease-in-out;
}

.active {
  border-radius: 0.2rem;
  background-color: #158a51;
}


#pipeSeparadorMenu{
    font-size: 2rem;
    color: white;
    text-align: center;
    padding: 1rem 0rem;
    margin-top: auto;
    margin-bottom: auto;
}

.blocoLogout{
    width: auto;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.bi-box-arrow-right{
    padding: 0rem 0.5rem;
    font-size: 2.5rem;
    color: white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    border-radius: 0.2rem;
    margin-right: 1rem;
}

.bi-box-arrow-right:hover{
    background-color: #158a51;
}

@media (max-width: 600px) { 
    .header{
        justify-content: center;
        align-items: center;
    }
    .links {
        justify-content: space-evenly;
        align-items: center;
        padding: 0rem;
    }
    #linkMenu{
        font-size: 1.1rem;
       padding: 0;
    }

    .bi-box-arrow-right{
        font-size: 2rem;
    }
}


 */
