.header{
    width: 15%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.945);
    display: flex;
    justify-content: center;
    align-items: start;
    position: fixed;
}
.links {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 1rem;
}
#linkMenu{
    font-size: 1.2rem;
    list-style-type: none;
    text-decoration: none;
    color: white;
    padding: 1rem;
    font-weight: bold;
}

#btnLogout{
    width: 50%;
    height: 2rem;
    border: 0;
    border-radius: 0.3rem;
    background-color: #00BF63;
    color: white;
    margin-top: 2rem;
}


@media (max-width: 600px) { 
    #linkMenu{
        font-size: 1.1rem;
    }
}



