.bodyPaperAtualizarStatus{
  width: 100%;
  height: 100dvh;
  background-color: #1a1a1aec;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999999;
  cursor: not-allowed;
  top: 0;
}

.blocoPaperAtualizarStatus {
    width: 50%;
    height: auto;
    background-color: #3E3A3B;
    position: fixed;
    z-index: 9;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    animation: alertaDescendo 1s forwards;
}

@keyframes alertaDescendo {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0%);
    }
}



.blocoMensagemDoPaperAtualizarStatus{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.2rem;
    margin-bottom: 0.8rem;
}

.mensagemPaperAtualizarStatus{
    font-size: 1.1rem;
    font-weight: 300;
    margin-top: 4rem;
    color: white;
}

.blocoUpdateLead {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0rem;
  }
  
  .subBlocoUpdate {
    width: 90%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: transparent;
    border-radius: 1rem;
    margin-bottom: 1rem;
  }
  
  .subBlocoUpdate p {
    font-size: 1.5rem;
    color: white;
    margin-top: 1rem;
  }
  
  .localInputs {
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0rem 0rem 1rem;
  }
  
  #opcoesPagamentoConverterLead {
    width: 50%;
    height: 2.5rem;
    margin: 0rem 0.5rem;
    padding: 0.3rem;
    outline: none;
    border: 0;
    border-radius: 0.2rem;
    text-align: center;
    cursor: pointer;
  }

  select option{
    background-color: #121214e4;
    color: white;
    cursor: pointer;
}
  
  #inputValorConverterLead {
    text-align: center;
    width: 20%;
    height: 2.5rem;
    margin: 0rem 0.5rem;
    padding: 0.3rem;
    outline: none;
    border: 0;
    border-radius: 0.2rem;
  }
  
.espacoButonsPaper{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #3E3A3B;
}

#btnClosePaper{
    cursor: pointer !important;
    width: 45%;
    height: 2.5rem;
    color: white;
    background-color: red;
    border: 0;
    border-radius: 0.2rem; 
}
  
#btnAtualizarLead {
    cursor: pointer !important;
    width: 45%;
    height: 2.5rem;
    border: 0;
    border-radius: 0.2rem;
    color: white;
    background-color: #00BF63;
    transition: 0.3s ease-in-out;
  }

  .blocoDosInput{
    width: 100%;
    height: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 0rem 0rem 1rem;
  }

@media (max-width: 900px) { 
  .bodyPaperAtualizarStatus{
    width: 100%;
    height: 100dvh;
    background-color: #1a1a1aec;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999999;
    cursor: not-allowed;
    top: 0;
}
    .blocoPaperAtualizarStatus {
        width: 90%;
        height: auto;
    }
    .espacoButonsPaper{
       flex-direction: column;
    }

    #btnClosePaper{
        width: 100%;
        margin-bottom: 1rem;
    }
      
    #btnAtualizarLead {
        width: 100%;
        margin-bottom: 0.6rem;
      }
    
      .localInputs {
        flex-direction: column;
        padding: 0;
      }

    #inputValorConverterLead {
        width: 100%;
        margin: 0;
        margin-bottom: 0.6rem;
    }

    #opcoesPagamentoConverterLead {
        width: 100%;
        margin: 0;
      }
  }