
.bodyAgendamento{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: start;
    justify-content: center;
    z-index: 9;
    background-color: #121214;
}

.corpoAgendamento{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #121214;
    margin: 7rem 0rem 2rem;

}

.namesInput{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.namesInput input {
    width: 100%;
    height: 2.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.251);
    border-radius: 0.2rem;
    padding: 10px;
    margin: 10px 0px;
    color: rgb(8, 8, 8);
    background-color: white;
    font-size: 15px;
    outline: none;
}

#appt{
    width: auto;
    height: 2.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.251);
    border-radius: 0.2rem;
    padding: 10px;
    margin: 10px 0px;
    color: rgb(8, 8, 8);
    background-color: white;
    font-size: 15px;
    outline: none;
}

.namesInput input:hover{
    cursor: text;
}

::-webkit-input-placeholder {
    color: black;
    font: 20px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1) brightness(100%) sepia(100%) saturate(1000000%) hue-rotate(deg);
    font-size: 20px;
}

input[type="time"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(1) brightness(100%) sepia(100%) saturate(100000%) hue-rotate(deg);
    font-size: 20px;
}
.divNomeFicha{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    
}
.nomeFicha{
    font-weight: bold;
    font-size: 1.5rem;
    color: #00BF63;
    margin-bottom: 0.5rem;
}

#opcoesPagamento{
    width: 100%;
    height: 2.5rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.251);
    border-radius: 0.2rem;
    padding: 0.5rem;
    margin: 10px 0 ;
    color: rgb(8, 8, 8);
    background-color: white;
    font-size: 15px;
    outline: none;
}

.espacoBtn {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}

.espacoBtn button {
    width: 100%;
    height: 3rem;
    border: 0;
    border-radius: 0.2rem;
    cursor: pointer;
    margin-top: 1rem;
    color: black;
    transition: 0.3s ease-in-out;
    margin-bottom: 2rem;
}


.divInputHoras{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.divInputHoras input{
    width: 49%;
    height: 2.5rem;
}

.espacoCheks{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.novoCliente{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0rem 2rem;
}

.novoCliente p{
    font-size: 1rem;
    color: #00BF63;
    margin-top: 1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.clienteJaAtendido{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.clienteJaAtendido input{
    border-radius: 2rem;
}

.clienteJaAtendido p{
    font-size: 1rem;
    color: #00BF63;
    margin-top: 1rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

@media (min-width: 200px) and (max-width: 1024px) {

    .corpoAgendamento{
        margin-top: 8rem;
    }
    .divNomeFicha{
        flex-direction: column;
    }

    .namesInput input {
        width: 100%;
        height: 4rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.526)
    }

    #appt{
        width: auto;
        height: 4rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.526)
    }

    #opcoesPagamento{
        width: 100%;
        height: 4rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.526)
    }

    .divInputHoras input{
        width: 49%;
        height: 4rem;
        border: 0.1rem solid rgba(0, 0, 0, 0.526)
    }

    .nomeFicha{
        font-size: 2rem;
        margin-bottom: 0.5rem;
    }
    
    .espacoCheks{
        width: auto;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .novoCliente{
        margin: 0;
    }

    .clienteJaAtendido p{
        font-size: 1.5rem;
        margin-right: 0rem;
        color: white;
        margin-left: 0.5rem;
    }

    .novoCliente p{
        font-size: 1.5rem;
        margin-right: 0rem;
        color: white;
        margin-left: 0.5rem;
    }
}