/* RESET WEB */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo da DATA em cima dos blocos */
.nomeDataDia{
    width: 100%;
    height: auto;
    text-align: start;
    padding-left: 5rem;
    font-size: 1.5rem;
    color: #E8751A;
    font-weight: bold;
}

/* Espaço que localiza as DIVS */
.containerBlocoSemanal{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* Blocos Principais */
.divBlocoSemanal {
    width: 90%;
    height: auto;
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.3rem;
    background-color: #1D1D21;
}
.espacoDosBlocos{
    width: 100%;
}

.ladoDeCima{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#ladoDeBaixo{
    width: 100%;
    height:auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.notData{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.notData h1{
    font-size: 1.5rem;
    margin-top: 1rem;
}

.blocoNomeSemanal{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00BF63;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.2rem 0rem 0rem 0rem; 
    font-weight: bold;
    text-align: center;
}

.blocoHoraInicialSemanal{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00BF63;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
}

.descricao{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00BF63;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0rem 0rem 0rem 0.2rem; 
    font-weight: bold;
    text-align: center;
}

.valorDescricaoSemanal{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00BF63;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0rem 0.2rem 0rem 0rem;
    font-weight: bold;
    text-align: center;
}

.formaDePagamento{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #00BF63;
    font-size: 1rem;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0rem 0rem 0.2rem 0rem;
    font-weight: bold;
    text-align: center;
}

#escritaDiv{
    color: rgba(0, 0, 0, 0.692);
    font-weight: normal;
    margin-right: 0.2rem;
}

.preenchimento{
    width: 4.5%;
}

#escritahora{
    color: black;
    font-weight: normal;
    margin: 0rem 0.2rem;
}

.escritaCarregando{
    font-size: 1.5rem;
}


.espacoButtonDeleteContato{
    width: 100%;
    height: auto;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#btnTrashClient{
    width: 45%;
    height: auto;
    padding: 0.2rem;
    border: 0;
    background-color: #FF0000;
    color: white;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
}

#btnCheckFinishClient{
    width: 45%;
    height: auto;
    padding: 0.2rem;
    border: 0;
    background-color: #00BF63;
    color: white;
    border-radius: 0.3rem;
    margin-bottom: 0.5rem;
}

/*Para tamanho de tela para CELULARES */
@media (max-width: 600px) {
    .nomeDataDia{
        padding-left: 0px;
        font-size: 20px;
        text-align: start;
        padding-left: 20px;
    }
    
    .divBloco {
      width: 95%;
      margin: 15px 0px;
    }
    .blocoNomeSemanal{
        width: 30%;
        height: 100%;
        font-size: 1rem;
    }
    .blocoHoraInicialSemanal{
        width: 35%;
        font-size: 1rem;
        flex-direction: column;
        padding: 0.3rem 0rem;
    }
    
    .valorDescricaoSemanal{
        width: 35%;
        font-size: 1rem;
        flex-direction: column;
    }
    #ladoDeBaixo{
        height: 6rem;
    }
    .ladoDeCima{
        height: 6rem;
    }
    .notData{
        text-align: center;
    }
    .espacoButtonDeleteContato{
        flex-direction: column;
    }
    #btnTrashClient{
        width: 95%;
    }
    
    #btnCheckFinishClient{
        width: 95%;
    }
  }